@charset "utf-8";
/* Text color */
.colr																		{color:#7ea103 !important;}
.txthover:hover																{color:#7ea103 !important;}
.backcolr																	{background-color:#7ea103 !important;}
.backcolrhover:hover														{background-color:#7ea103 !important;}
.backcolrdark																{background-color:#7ea103 !important; background-image:url(../images/dark.png);}
.bordercolr																	{border-color:#7ea103 !important;}
/* Navigation */
.ddsmoothmenu ul li a:hover, .ddsmoothmenu ul li.current-menu-item a		{background-color:#7ea103;}
/* Feedlist thumb hover */
.feedlist ul li:hover a.thumb												{border-left:#7ea103 solid 5px;}
/* Announcement */
.navigation .announcment:hover a.mlink										{color:#7ea103;}
/* Gallery Filter */
ul#filterOptions li a:hover													{background: #7ea103;}
ul#filterOptions li.active a												{background: #7ea103;}
/* Sponsers Buttons */
.sponsers #controls a.prevBtn:hover, .sponsers #controls a.nextBtn:hover	{background-color:#7ea103;}